<html>

	<head>
		<title>About Ayan</title>
		<link rel="stylesheet" href="../stylesheets/site.css.scss">
		<link rel="stylesheet" href="E:\WebDevelopment\ApexPersonal\app\assets\stylesheets\application.css">
	</head>

	<body>
		
		<div class="header">
			<a href="index.html.erb"><img src="E:\WebDevelopment\ApexPersonal\app\assets\images\ApexLogo.png" style="height: 95%; margin-left: 1%;"></a>
			<img src="E:\WebDevelopment\ApexPersonal\app\assets\images\ayan-pic-header.jpg" style="width: 15%; height: 90%; margin-left:67%">
		</div>

		<nav class = 'nav-bar'>
				<ul>
				<li><a href="index.html.erb">HOME</a></li>
				<li><a href="#" id="active">ABOUT</a></li>
				<li><a href="projects.html.erb">PROJECTS</a></li>
				<li><a href="contact.html.erb">CONTACT</a></li>
			</ul>
			<a href="#" id="pull">Menu</a>
		</nav>

		<div class="inner-left">

			<h2>About Ayan Dasgupta</h2>

			<p>I am a Web Designer specializing in CSS and Javascript. I mainly cater to front-end work but also taking on back-end challenges as per my clients' needs. I have a keen eye for designs that catch the eye of the viewer.</p>
			<p>I enjoy following Sports as it breeds the competitive spirit in me and inspires me to be an able team person. It also helps me be the strategist that I pride myself in being.</p>
			<p>You may find me at:</p>

			<a href="http://www.linkedin.com/profile/view?id=294611821&trk=nav_responsive_tab_profile"><img src="E:\WebDevelopment\ApexPersonal\app\assets\images\Linked-In-icon.png" style="height: auto;"></a>
			<a href="https://www.facebook.com/27Ayan"><img src="E:\WebDevelopment\ApexPersonal\app\assets\images\facebook-icon.png" style="height: auto;"></a>

		</div>

		<div class="inner-right">


		</div>

	</body>