<!DOCTYPE html>

<html>

	<head>
		<title>Ayan's Projects</title>
		<link rel="stylesheet" href="../stylesheets/site.css.scss">
		<link rel="stylesheet" href="E:\WebDevelopment\ApexPersonal\app\assets\stylesheets\application.css">
	</head>

	<body>
		
		<div class="header">
			<a href="index.html.erb"><img src="E:\WebDevelopment\ApexPersonal\app\assets\images\ApexLogo.png" class="logo-left"></a>
			<img src="E:\WebDevelopment\ApexPersonal\app\assets\images\ayan-pic-header.jpg" class="logo-right">
		</div>

		<nav class = 'nav-bar'>
				<ul>
				<li><a href="index.html.erb">HOME</a></li>
				<li><a href="about.html.erb">ABOUT</a></li>
				<li><a href="projects.html.erb">PROJECTS</a></li>
				<li><a href="#" id="active">CONTACT</a></li>
			</ul>
			<a href="#" id="pull">Menu</a>
		</nav>

		<div class="inner-left">

			<h2>I am available at:</h2>

			<p>P-40 C.I.T. Road, Scheme IV-M, P.O. Beliaghata, Kolkata-700010.</p>

			<h3>E-mail me:</h3>

			<p>dg.ayan91@gmail.com</p>

			<h3>Call me on:</h3>

			<p>+918296669649</p>

		</div>

		<div class="inner-right">

			<iframe style="width: auto; height: auto; margin-top: 10%;" src="http://maps.google.co.in/maps?bav=on.2,or.r_qf.&bvm=bv.47883778,d.bmk&biw=1360&bih=600&um=1&ie=UTF-8&q=cit+more+kolkata&fb=1&gl=in&hq=cit+more&hnear=0x39f882db4908f667:0x43e330e68f6c2cbc,Kolkata,+West+Bengal&cid=0,0,16337240844418627563&sa=X&ei=ppK9UbivHo2zrAecyIGYAg&ved=0CHwQ_BIwAw;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>

		</div>

	</body>

</html>