<!DOCTYPE html>

<html>

	<head>
		<title>Ayan Dasgupta</title>
		<link rel="stylesheet" href="../stylesheets/site.css.scss">
		<link rel="stylesheet" href="E:\WebDevelopment\ApexPersonal\app\assets\stylesheets\application.css">
	</head>

	<body>
		
		<div class="header">
			<a href="index.html.erb"><img src="E:\WebDevelopment\ApexPersonal\app\assets\images\ApexLogo.png" style="height: 95%; margin-left: 1%;"></a>
			<img src="E:\WebDevelopment\ApexPersonal\app\assets\images\ayan-pic-header.jpg" style="width: 15%; height: 90%; margin-left:67%">
		</div>

		
		<nav class = 'nav-bar'>
				<ul>
				<li><a href="#" id="active">HOME</a></li>
				<li><a href="about.html.erb">ABOUT</a></li>
				<li><a href="projects.html.erb">PROJECTS</a></li>
				<li><a href="contact.html.erb">CONTACT</a></li>
			</ul>
			<a href="#" id="pull">Menu</a>
		</nav>

		<div class="inner-left">

			<h2>Serving you the best Web Solutions</h2>

			<p>Hello, this is <b>Ayan Dasgupta</b>, the creative head of <a href="#">Gitmek</a>, a Web-Development start-up. I provide with the front end solution to your website which would make it stand out from the rest of its counterparts.</p>
			<p>Share with me your wesbite needs, and consider your business located in the cyberverse. I along with my partner <a href="http://kaylors.herokuapp.com/">Shuvomay Das</a>, a.k.a. Kaylors, would bring before you a fast, feature-filled, fully SEOed wesbite.</p>

		</div>

	</body>

</html>