<!DOCTYPE html>

<html>

	<head>
		<title>Ayan's Projects</title>
		<link rel="stylesheet" href="../stylesheets/site.css.scss">
		<link rel="stylesheet" href="E:\WebDevelopment\ApexPersonal\app\assets\stylesheets\application.css">
	</head>

	<body>
		
		<div class="header">
			<a href="index.html.erb"><img src="E:\WebDevelopment\ApexPersonal\app\assets\images\ApexLogo.png" style="height: 95%; margin-left: 1%;"></a>
			<img src="E:\WebDevelopment\ApexPersonal\app\assets\images\ayan-pic-header.jpg" style="width: 15%; height: 90%; margin-left:67%">
		</div>

		
		<nav class = 'nav-bar'>
				<ul>
				<li><a href="index.html.erb">HOME</a></li>
				<li><a href="about.html.erb">ABOUT</a></li>
				<li><a href="#" id="active">PROJECTS</a></li>
				<li><a href="contact.html.erb">CONTACT</a></li>
			</ul>
			<a href="#" id="pull">Menu</a>
		</nav>

		<div class="inner-left">

			<h2>MusicBeats</h2>

			<p><a href="http://musicbeats.comlu.com/Ayan%20Project%202/">MusicBeats</a> is a demo-site created by Ayan to showcase his web-dev skills. It's built on PHP & MySQL and runs on the WAMP Server.</p>
			<p>MusicBeats allows users to upload songs of mp3 format into their account library. For this they need to sign up and sign in. Users are also allowed to download the songs onto their local drives or just play and listen to them on their internet browsers.</p>

		</div>

		<div class="inner-right">

			<a href="E:\WebDevelopment\ApexPersonal\app\assets\images\project.jpg"><img src="E:\WebDevelopment\ApexPersonal\app\assets\images\project.jpg" style="width: 100%; height: 90%; margin: 10% 0% 0% 0%;"></a>

		</div>

	</body>

</html>